body{
    padding: 0;
    margin: 0;

}
header{
    background-color: #051a19;
   
}

.container{
  
    width: 100%;
    
}
.main-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 65px;
   
    color: white;
    line-height: 45px;
    font-size: 25px;
    text-align: center;
   

}
.logo{
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    margin-right: 50px;
    list-style-type: none;

}
/* slideer */
.background-img{
    width: 100%;
    background: linear-gradient(rgba(45, 61, 43, 0.2) , rgba(27, 11, 11, 0.4)),url(./slide.png);
    height: 873px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;

}
.background-img h1{

color: white;
  
position: absolute;
  
top: 320px;
  
left: 700px;
  
font-size: 66px;
    
 

}
span{
    display: block;
    text-align: center;
  
    position: relative;
    right: 186px;
}
.main-button{
    position: relative;
    top: 120px;
}
.main-button button {
    padding: 19px 50px;
    font-size: 22px;
    background-color: #6b0e2a;
    border-radius: 7px;
    color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 5 orange;
}

/*  desc */
.kids{
    width: 100%;
    background-color: #fff8eb;
}

.container-kid{
    display: flex;
    margin: 20px 180px;
    align-items: center;
}
.container-kid div{
    width:50%
}
.desc{
    font-size: 23px;
}
.desc button{
    padding: 12px;
}
.desc2{
    text-align: center;

}
.desc2 h1{
 
    font-size: 56px;

}
.desc2 p{
    font-size: 21px;
   
}
.container-main{
  
}
.image-wrapper{
    display: flex;
    margin-bottom: 43px;
   
    
    
}
.image-wrapper div{
   width:300px;
}
.image-wrapper div{
    width: 100% !important;
    height: 447px;
}
.image-wrapper div img {
    display: inline-block;
    width: 100%;
}
.see-more{
    text-align: center;
    
}
.see-more button{
    
padding: 12px 34px;
border-radius: 23px;
background-image: linear-gradient(to right, #917e8b 0%, #27406b 51%, #18b34b 100%);




}
.donate-desc{
    text-align: center;
    color: white;
    padding-top: 134px;
}
.container-button{
    display: flex;
    
    margin:15px 245px;
}

.container-button div{
    width: 270px;
    height: 170px;
    background-color: ;
    border: 2px solid black;
}
.btn{
    text-align: center;
   
    background:linear-gradient(rgb(223, 218, 218,0.5),rgb(228, 228, 221,0.3)) , url(/images/04.png);
    width: 255px;
    height: 180px;
    margin-right: 63px;
    border-radius: 9px;
}
.btn h1{
  text-align: center;
  position: relative;
  top:50px;
}
.price{
    display: flex;
    margin: 37px 681px;
}
.price div{
    width: 100px;
    height: 60px;
    border: 1px solid rgb(201, 190, 190);
    margin-right: 8px;
    background-color: #fff8eb;
}
.price div p{
    text-align: center;
    font-size: 22px;
  
    align-items: center;
}

.main-buttonn button{

    padding: 19px 50px;
    font-size: 22px;
    background-color: #6b0e2a;
    border-radius: 7px;
    color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 5 orange;
  text-align: center;
  margin: 0 800px;
}

/* end */

.end{
    background-color: #131627;
    width: 100%;
    height: 603px;
}
.logo{
    display: flex;
}
.logo div{
    width: 255px;
    height: 81px;
   
}
.logo img{
   
    width: 34%;
    height: 100%;
}
.desc-1{
    color: white;
    position: relative;
    margin-right: 259px;
    top: 104px;
    margin-left: 192px;

}
.card{
    display: flex;
    margin-top: 29px;
    margin-right: 9px;
    
}
.card div{
    width: 255px;
    height: 101px;
}
.left-disc{
   padding-top: 45px;
   width: 432px;
}
.main-mal{
    height: 780px;
}
.end-container{
      margin-top: 55px;
      display: flex;
    }
.input{
    color: white;
    position: relative;
    top: 199px;
    width: 648px;
   
}
.input  input{
    border-radius: 12px;
    padding: 9px 34px;

}
.input button{
    padding: 12px 20px;
    font-size: 22px;
    background-color: #6b0e2a;
    border-radius: 7px;
    color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 5 orange;
}